{% extends 'layout.html' %}

{% block content %}

<span class="description">
    <h1>Hospital San Juan de Dios de Cauquenes </h1>
    <p class="prim">Es un establecimiento dependiente técnica y 
    administrativamente del Servicio de Salud del Maule, tiene carácter provincial,
    lo cual significa quedependen de él, el Hospital de Chanco y los Departamentos de Salud de 
    la Municipalidad deCauquenes, Chanco y Pelluhue.Como misión del hospital declara:</p>
    <p class="seg">“Somos una Red Asistencial formada por Equipos comprometidos, que trabaja oportunamentepara Promover 
    la Salud, Prevenir la Enfermedad y resolver las necesidades de Salud de las Per-sonas, Familias y 
    Comunidades, con Calidad, Equidad y Pertinencia Sociocultural”</p>
    <p class="prim">En cuanto a su visión declaran que es:</p>
    <p class="seg">“Salud de Calidad para todas las Personas en la Región del Maule”</p>
    <p class="prim">Es un hospital de mediana complejidad que 
    cuenta entre sus servicios la maternidad. En ellatrabajan 20 personas, incluídas matronas, técnicos de 
    enfermería y dos ginecólogos.</p>
    <br/>
    <hr/>
    <p class="prim">
    Cada vez las tecnologías de la información adquieren una mayor relevancia en el mundo, siendo fundamentales para 
    las organizaciones las cuales van desde el sector educacional hasta el de lasalud debido a los grandes beneficios 
    que entrega, entre los cuales se encuentra el incrementode la productividad y una mejora comunicacional. 
    
    </p>
    <p class="prim">
    Es por esto que se ha realizado una pagina de tal forma que todos los procesos de la Unidad Gineco - Obstetra
    se lleguen a realizar de manera sistematizada, junto con esto se realizaron tres indicadores, los cuales entregan
    información sobre cuales son los medicamentos que más se administran en esta unidad, junto con sus cirugias más comunes,
    además de la proporción de mujeres embarazadas y no embarazadas que llega a esta unidad.
    
    </p>

</span>


{% endblock  %}